.sign-up-form {
	flex: 1;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	width: 40%;
	margin: auto;
}

.sign-up-input {
	margin-bottom: 1em;
	padding: .5em;
	width: 100%;
	box-sizing: border-box;
}

.sign-up-input:last-child {
	margin-bottom: unset;
}

.sign-up-input.sign-up-btn {
	border: 1px solid black;
}

.sign-up-btn {
	border: 1px solid black;
	padding: .75em 2.5em;
	cursor: pointer;
}

.sign-up-btn:hover, .sign-up-btn:focus {
	background: rgba(0,0,0,.3);
	color: white;
	text-shadow: 1px 1px black;
}

.sign-up-btn:active {
	transform: scale(.9,.9);
}

.suggestion {
	font-size: .9rem;
}

.suggestion-link {
	color: #598ff2;
}

.suggestion-link:hover, .suggestion-link:focus {
	color: #598ff2;
	text-decoration: underline;
}

@media(max-width: 800px) {
	.sign-up-form {
		width: 70%;
	}
	.suggestion {
		text-align: center;
	}
}

@media(max-width: 475px) {
	.suggestion {
		font-size: .7rem;
	}
}